language: cpp
sudo: true

matrix:
  include:
    - os: linux
      compiler: g++
      before_install:
      install:
      addons:
        apt:
          sources: ['ubuntu-toolchain-r-test']
          packages: ['g++-5']
      env: COMPILER=g++-5

  include:
    - os: linux
      compiler: g++
      before_install:
      install:
      addons:
        apt:
          sources: ['ubuntu-toolchain-r-test']
          packages: ['g++-6']
      env: COMPILER=g++-6

script:
  - uname -a
  - $COMPILER --version
  - cd thirdparty/googletest && cmake -DCMAKE_CXX_COMPILER=$COMPILER . && make
  - cd ../../tests && CXX=$COMPILER make
