language: cpp
sudo: true

matrix:
  include:
    - os: linux
      compiler: g++
      before_install:
      install:
      addons:
        apt:
          sources: ['ubuntu-toolchain-r-test']
          packages: ['g++-6']
      env: COMPILER=g++-6

script:
  - uname -a
  - $COMPILER --version
  - cd tests && make
